<div class="d-flex flex-column bg-light vh-100" style="width: 200px;">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
            <!-- Accordion per Settings -->
            <div class="accordion" id="settingsAccordion" style="border: none; background-color: transparent;">
                <div class="accordion-item" style="border: none; background-color: transparent;">
                    <h2 class="accordion-header" id="headingOne">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne"
                            style="background-color: transparent; border: none; box-shadow: none;">
                            Settings
                        </button>
                    </h2>
                    <div
                        id="collapseOne"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingOne"
                        data-bs-parent="#settingsAccordion"
                    >
                        <div class="accordion-body">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Option 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Option 2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Option 3</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Info</a>
        </li>
    </ul>
</div>
