<div class="d-flex">
    <div class="list-group d-flex flex-column vh-100 border-end" style="width: 200px;">
        <a href="#" class="list-group-item list-group-item-action">Profile</a>
        <a href="#" class="list-group-item list-group-item-action">Settings</a>
        <a href="#" class="list-group-item list-group-item-action">LogOut</a>
    </div>
    <div class="p-3 flex-grow-1">
        <h1>Main Content</h1>
        <p>Questo è il contenuto principale accanto al menu laterale.</p>
    </div>
</div>
